<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > dontLoveIts,
                'list-group-item-danger': loveIts < dontLoveIts}">
  <h4 style="display:inline-block;">{{title}}</h4>
  <span style="float:right;font-style:italic;">{{created_at | date: 'short' | uppercase }}</span>
  <p>{{content}}</p>
  <div class="">
  <button type="button" class="btn btn-success"
          (click)="onLoveIt()">Love it!</button>&nbsp;
  <button type="button" class="btn btn-danger"
          (click)="onDontLoveIt()">Don't love it!</button>
  </div>
</li>
